.game__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  padding: 0;
  transition: all 0.3s ease;
  flex: 1 1 23%;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
